@layer components {
  ul.life {
    @apply m-0 list-none relative pt-3 inline-block box-border;
    &:before {
      content: "";
      @apply absolute w-0.5 h-full top-0 left-0 bg-gray-300;
    }

    li {
      @apply relative w-full float-left pl-8 pb-16 box-border;
      &:before {
        content: "";
        @apply absolute w-6 h-6 top-0.5 bg-primary-foreground rounded-full border border-gray-300;
        left: -0.7rem;
      }
    }
  }
}
